.header-container {
  width: 100%;
  height: 50px;
  background-color: $primary_theme_color;
  color: $white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  .logo {
    display: flex;
    flex: 0 0 27%;
    height: 30px;
    margin: 10px;
    img {
      width: 30px;
    }
  }
  &-nav {
    display: flex;
    flex: 0 0 67%;
    justify-self: start;
    align-items: center;
  }
}
