.currencies-container {
  width: 100%;
  min-width: 1440px;
  height: 100vh;
  padding: 0 15px;
  margin: 0 -30px;
  .sidenav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    text-align: left;
    color: $dark_grey;
    &-nav {
      display: flex;
      flex: 0 0 20%;
      flex-direction: column;
      background-color: $light_grey;
      padding: 25px 30px;

      &-header {
        margin: 0;
        padding: 0 3px 3px;
      }
      .currency-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
          .btn-remove {
            border: none;
            color: $dark_grey;
          }
      }
    }
    .add-currency {
      padding: 15px 0;
      border-bottom: 1px solid $light_grey;
      color: $primary_theme_color;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
